<h2 align='center'>Welcome to The Sam Casino!</h2> 
<h4 align='center'><img src="/images/casino.jpg" class="img-circle"/></h4>
<h4 align='center' style = "color:white">We only have blackjack though, so deal with it.</h4>
<br>
<div class="well well-small"  id="mine">
<h style="color:black">Who will be giving the casino money today (what's your name)?</h5>
<form action = '/set_player_names' method = 'post' >
	<input type = 'text' name = "name" placeholder="Your name here"/> <br>
	<input type = "submit" class = "btn btn-primary btn-large"/ value = "Confirm Name">
</form>
</div>