<h3 align='center'>Welcome to The Sam Casino!</h3> 
<h4 align='center'>...</h4>
<h4 align='center'>We only have blackjack though, so deal with it.</h4>
<br>
<h5>Who will be giving the casino money today (what's your name)?</h5>

<form action = '/set_player_names' method = 'post' >
	<input type = 'text' name = "name"/>
	<input type = "submit" class = "btn"/>
</form>