<h2>This is the characters/names template!</h2>

<ul>
	<li>Main characters</li>
	<ul>
		<li>Marty McFly</li>
    	<li>Emmett "Doc" Brown</li>
    </ul>
	<li>McFly family</li>
	<ul>
		<li>George McFly</li>
		<li>Lorraine Baines McFly</li>
    	<li>Dave McFly</li>
    	<li>Linda McFly</li>
    	<li>Seamus and Maggie McFly</li>
    </ul>
</ul>
